<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome to Charity Case</title>
    <!-- Bootstrap-->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <!-- -->
    <link rel="stylesheet" href="/assets/css/padding_margin.css" id="theme-stylesheet">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="/assets/css/style.default.css" id="theme-stylesheet">
  </head>
  <body data-spy="scroll" data-target="#navigation" data-offset="120">
    <div class="navbar-header">
        <center>
            <div class="row">
                <div class="col-md-6">
                    <a href="index.html">
                        <img src="/assets/img/logo-1.png" alt="logo" class="hidden-xs hidden-sm">
                        <img src="/assets/img/logo-1.png" alt="logo" class="visible-xs visible-sm">
                        <span class="sr-only">Go to homepage</span>
                    </a>
                </div>
                <div class="col-md-6">
                    <h5>Highest Donation: $25,000</h5>
                </div>
            </div>
        </center>
    </div>
    <div id="container">
        <div class="jumbotron">
            <center>
                <h1>Make a Donation </h1>
                <p>Please select a charity and complete the fields below.</p>
                <div class="form-group">
                    <label class="select">
                        <select name="charity">
                            <option value selected disabled>Select a Charity</option>
                            <option value="char1">American Red Cross</option>
                            <option value="char2">Wounded Warrior Project</option>
                            <option value="char3">Doctors Without Borders</option>
                            <option value="char4">St. Jude's Children Hospital</option>
                            <option value="char4">American Cancer Society</option>
                            <option value="char4">Save the Children</option>
                        </select>
                    </label>
                </div>
                    <!-- <input id="username" type="text" placeholder="Username" class="form-control"><br />
                    <input id="donation_amount" type="text" placeholder="USD Amount" class="form-control"> -->
                    <div class="input-group" style="width:75%">
                      <span class="input-group-addon">$</span>
                      <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" placeholder="USD Amount">
                      <span class="input-group-addon">.00</span>
                    </div>
                </div> 
            </center>
        </div>
    </div>
  <!--end of jumbotron-->

    <div id="options">
        <div class="row">
            <div class="col-md-12">
                <center><a href="#" data-toggle="modal" data-target="#donate-today" class="btn navbar-btn btn-ghost">Donate Today!</a></center>
            </div>
        </div>
    </div>
    <!-- *** SIGNUP MODAL START *** -->
    <div id="donate-today" tabindex="-1" role="dialog" aria-labelledby="Donate Today" aria-hidden="true" class="modal fade">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">×</button>
                    <h4 class="modal-title text-left">Success!</h4>
                    <div class="modal-body">
                        <p class="text-center text-muted">Your donation is greatly appreciated!</p>
                        <p class="text-center">
                        <a href="social.html" class="btn navbar-btn btn-ghost">Facebook</a>
                        <a href="https://twitter.com/intent/tweet" target="blank" class="btn navbar-btn btn-ghost">Twitter</a>
                        <p class="text-center">
                        <a href="/report" class="btn navbar-btn btn-ghost">Check Donation Report</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <! *** SIGNUP MODAL END ***-->
    <footer class="footer"> 
        <div class="footer__copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p>&copy;2016 Charity Case</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
 
<!-- Javascript files-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"> </script>
    <script src="/assets/js/jquery.cookie.js"> </script>
    <script src="/assets/js/ekko-lightbox.js"></script>
    <script src="/assets/js/jquery.simple-text-rotator.min.js"></script>
    <script src="/assets/js/jquery.scrollTo.min.js"></script>
    <script src="/assets/js/owl.carousel.min.js"></script>
    <script src="/assets/js/front.js"></script>
  </body>
</html>